<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="common_layout_nav_top">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">LionShop</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">

                </li>

                <li class="nav-item" sec:authorize="hasAuthority('ROLE_ADMIN')">
                    <a class="nav-link" th:href="@{/admin/item/new}">상품 등록</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/orderhist}">구매이력</a>
                </li>
                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a class="nav-link" th:href="@{/login}">로그인</a>
                </li>

                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">로그아웃</a>
                </li>


            </ul>
            <form class="d-flex" action="/">
                <input name="searchQuery" class="form-control me-2" type="search" placeholder="상품명/키워드" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>